@use '../styles/responsive.scss';
@import '../styles/tokens.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@supports (height: 100dvh) {
  .v-application {
    min-height: 100dvh;
  }
}
