/* Main CSS file */
@use '../styles/responsive.scss';


/* Global Layout Resets */
// 
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* PWA viewport handling */
@supports (height: 100dvh) {
  .v-application {
    min-height: 100dvh;
  }
} 