.responsive-layout {
  --drawer-width: 380px;
  --app-bar-height: 64px;
  --content-padding: 24px;

  &.is-mobile {
    --drawer-width: 320px;
    --app-bar-height: 56px;
    --content-padding: 16px;
  }

  &.is-tablet {
    --content-padding: 20px;
  }

  &.drawer-rail {
    --drawer-width: 72px;
  }
}
